---
// End.astro
---

<div class="end flex flex-col text-[#fbfbfb] items-center gap-6 leading-tight">
  <h3 class="font-thin">What&apos;s Next?</h3>
  <p class="font-light text-center">
    AnantRadio is now growing into a full hospital OS, supporting pathology
    labs, pharmacy systems, financial workflows, and more. Its modular core
    allows fast integration with future healthcare tech — from AI
    diagnostics to smart IoT imaging devices.
  </p>
</div>

<style>
  .end h3 {
    font-size: 24px;
  }
  .end p {
    max-width: 800px;
  }

  @media (min-width: 700px) and (max-width: 1023px) {
    .end p {
      max-width: 600px;
    }
  }

  @media (max-width: 700px) {
    .end h3 {
      font-size: 20px;
    }
    .end p {
      max-width: 320px;
      font-size: 14px;
    }
  }
</style>