---
// components/PromptToVideoTargetUsersImage1.astro
import { Image } from 'astro:assets';
import { cn } from '@/lib/utils';
import Img2 from '../../../../assets/rawfiles/prompt-to-video/mockup-2-1.png';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={cn('image1 flex-shrink-0 flex flex-row items-center justify-center order-2 lg:order-1', className)}>
  <Image
    src={Img2}
    alt="Target users mockup"
    width={503}
    height={320}
    class="object-cover"
    draggable="false"
  />
</div>

<style>
  .image1 {
    width: 503px;
  }

  .image1 img {
    width: 100%;
    height: auto;
  }

  /* Responsive Widths */
  @media (min-width: 700px) and (max-width: 1023px) {
    .image1 {
      margin: 0 auto;
      width: 60%;
    }
  }

  @media (max-width: 700px) {
    .image1 {
      width: 90%;
    }
  }
</style>