@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family:
    "Poppins",
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  font-family: inherit;
}
@theme inline {
  /* Breakpoints */
  --breakpoint-sm: (min-width: 350px) and (max-width: 699px);
  --breakpoint-sm-md: (min-width: 700px) and (max-width: 1023px);
  --breakpoint-md-lg: (min-width: 1024px) and (max-width: 1259px);
  --breakpoint-lg-xl: (min-width: 1259px) and (max-width: 1440px);
  /* --breakpoint-xl-2xl: (min-width: 1441px); */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Background Colors */
  --color-ai-base-default: #3f3f48;
  --color-ai-base-default-50: #18181b;
  --color-ai-base-default-100: #27272a;
  --color-ai-base-default-800: #f4f4f5;

  /* Text Colors */
  --color-ai-base-primary: #abff00;
  --color-ai-base-secondary: #91f;
  --color-ai-base-primary-400: #0073ff;
  --color-ai-content-foreground: #fafafa;
  --color-ai-content3-foreground: #e4e4e7;
  --color-ai-content4-foreground: #d4d4d8;
  --color-ai-gray-400: #71717c;
  --color-ai-gray-500: #a1a1ac;
  --color-ai-green-600: #00a735;
}

:root {
  --foreground: #fbfbfb;
  --background: #000;
}
body {
  background: var(--background);
  color: var(--foreground);
}
.main {
  overflow: hidden;
}

.image-text-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
}
@media (min-width: 1537px) {
  .main {
    width: 1536px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1023px) {
  .image-text-layout {
    flex-direction: column;
  }
}

.icon-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero_curve {
  width: 500px;
  height: 100px;
  border: solid 5px red;
  border-color: red transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}
