---
import { Image } from 'astro:assets';

import LiveLinkDiv from '@/components/ui/reusable/LiveLinkDiv.astro';
import Ellipse from '@/components/ui/reusable/vs-ellipse.astro';
import VanquishLogo from '@/components/ui/reusable/vanquish-logo/vanquish-logo.astro';
import CaseStudyIntro from '@/case_study/reusable/CaseStudyIntro.astro';
import Image1 from '@/assets/rawfiles/vanquish-solutions/hero.png';
import Details from '@/case_study/reusable/Details.astro';


const tags = [
  { label: 'Trading'},
  { label: 'Fintech'},
];
---
<div class="intro relative flex flex-col items-center justify-center">
  <CaseStudyIntro tags={tags} introText='Unlock Your Trading Potential'>
    <VanquishLogo slot="logo" brand="vanquish" showText={true} />
    <a slot="link-section" href="https://www.vanquishholdings.co.uk?utm_source=goatdevelopers&utm_medium=case_study&utm_campaign=vanquish_solutions">
      <LiveLinkDiv/>
    </a>
  </CaseStudyIntro>


  {/* --- Section 2: Main Image --- */}
  <div class="image-wrapper relative flex items-center justify-center w-full">
    <Image
      src={Image1}
      alt="Vanquish Case Study Mockup"
      width="1080"
      height="697"
      draggable="false"
      class="w-full object-cover h-auto max-w-full"
    />
  </div>

  
<Details
    title="The Project"
  description="Vanquish Holdings is a Fintech company providing financial services to businesses. They harness power of data and AI to provide strategies and financial instruments for investors and businesses around the world. Vanquish also helps small and medium boutique financial firms to expand their investment business with end-to-end support in licensing, technology and capital raising initiatives."
  details={[
    { label: 'Platform Type:', value: 'Web, IOS, Android' },
    { label: 'Project Type:', value: 'B2B, D2C' },
    { label: 'Duration', value: '22W', largeValue: true }
  ]}  />

  <div class="ellipse-wrapper absolute z-3">
    <Ellipse class="w-full h-full " /> 
  </div>

</div>

<style>
  .intro {
    gap: 120px;
  }
  .ellipse-wrapper {
    top: -32%;
    left: -10%;
    width: 272px;
    aspect-ratio: 1/2;
    rotate: -41deg;
  }

  .details {
    padding: 0 16px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .details_1 {
    display: flex;
    gap: 12px;
    flex-direction: row;
  }

  .image-wrapper{
    max-width: 344px;
  }

  .details_2 {
    display: flex;
    gap: 12px;
    width: auto;
    flex-direction: column;
  }

  .details_2_1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* Glass Box Styling */
  .glass-box {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 7px;
    backdrop-filter: blur(12px);
    gap: 8px;
  }

  .glass-box > :first-child {
    font-size: 12px;
    line-height: 1.2;
    opacity: 0.5;
  }
  .glass-box > :last-child {
    font-size: 14px;
    line-height: 1.25;
  }

  /* List Specifics */
  .glass-box ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .glass-box ul li {
    list-style: disc;
    margin-left: 16px;
    padding-inline-start: 10px;
    text-indent: -16px;
  }

  /* Gradient Logic */
  .bg_gradient {
    display: flex;
    opacity: 0.2;
    filter: blur(58.89px);
  }
  .bg_gradient span {
    border-radius: 100%;
    display: flex;
    width: 176px;
    height: 165px;
    background: white;
  }
  .bg_gradient span:not(:first-child) {
    margin-left: -117px;
  }



  /* 700 - 1023px */
  @media (min-width: 700px) {
    .intro { gap: 140px; }

    .image-wrapper {
      max-width: 840px;
      max-height: 644px;
    }
    
    .details {
      margin: 0 auto;
      max-width: 80%;
      /* Reset mobile padding */
      padding: 0;
      gap: 40px;
    }

    /* Details Internal Layout Changes */
    .details_2 {
      flex-direction: row;
      gap: 40px;
    }
    .details_2_1 {
      gap: 24px;
    }
    .glass-box ul {
      gap: 8px;
    }
    .bg_gradient span:not(:first-child) {
      margin-left: -47px;
    }

    .ellipse-wrapper {
      top: -50%;
      width: 420px;
    }
  }

  /* 1024 - 1259px */
  @media (min-width: 1024px) {
    .intro { gap: 160px; }
    
    .details {
      margin: 0 auto;
      max-width: 90%;
      /* Switch to horizontal layout */
      flex-direction: row;
      justify-content: space-between;
    }

    /* Details Internal Layout Changes */
    .details_1 {
      flex-direction: column;
      gap: 40px;
    }
    .details_2 {
      width: 65%;
    }

    .ellipse-wrapper {
      width: 540px;
    }
    .image-wrapper{
      width: 100%;
    }
  }

  /* 1260 - 1440px */
  @media (min-width: 1260px) {
    .first, .details {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
    }
    
    /* Shrink details_2 width on large screens */
    .details_2 {
      width: 40%;
    }
  }

  /* 1281px+ */
  @media (min-width: 1281px) {
    .intro {
      gap: 180px;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .ellipse-wrapper {
      left: -30%;
      top: -75%;
      width: 720px;
    }
    
    .details {
      max-width: 1080px;
    }
  }
</style>