---
// ALCaseStudy.astro
import TopGradient from "@/design/_sections/TopGradient.astro"
import Intro from "./_sections/intro/intro.astro"
import Section2 from "./_sections/section2/Section2.astro"
---

<div class="relative w-full min-h-screen bg-[#0a0a0a] ">
  
  <TopGradient
    class="bg-gradient z-0"
    colors={['#848484', '#000', '#1b1b1b', '#E0E0E0CC']}
  />

  <main class="main relative flex flex-col z-10">
    <Intro />
    <Section2 /> 
  </main>

</div>

<style>
  .main {
    padding-top: 25%;
    padding-bottom: 224px;
    gap: 180px;
  }

  /* Desktop Override for Gradient Position */
  @media (min-width: 1259px) {
    :global(.bg-gradient) {
      top: -574px !important; /* Adjusted to match your screenshot visual */
    }
  }

  /* 1260 - 1440 */
  @media (min-width: 1259px) and (max-width: 1440px) {
    .main {
      padding-bottom: 200px;
    }
  }

  /* 700 - 1024 */
  @media (min-width: 700px) and (max-width: 1023px) {
    .main {
      padding-bottom: 120px;
    }
    :global(.bg-gradient) {
      top: -360px !important;
      filter: blur(80px) !important;
    }
  }

  /* Device below 700px */
  @media (max-width: 700px) {
    .main {
      padding-top: 96px;
      padding-bottom: 100px;
      gap: 64px;
    }
    :global(.bg-gradient) {
      top: -120px !important;
    }
  }
</style>