---
import LockSvg from '@/components/svg/LockSvg.astro';
---

<div class="px-2 py-1 flex items-center gap-2 rounded-lg bg-black/10">
  <p class="opacity-50 text-[11px] leading-tight">Limited Visuals (NDA)</p>
  <LockSvg />
</div>
