---
// NDA.astro
import LockSvg from '@/components/svg/LockSvg.astro';
import { cn } from '@/lib/utils';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={cn("py-1 px-2 gap-2 text-white rounded-lg bg-black/10 flex items-center", className)}>
  <p class="opacity-50 text-[10px] leading-[1.2]">Limited Visuals (NDA)</p>
  <LockSvg />
</div>