---
import Intro from './_sections/intro.astro';
import Challenges from './_sections/Challenges.astro';
import ImageGrid1 from '@/case_study/reusable/ImageGrid1.astro';
import image1 from '@/assets/rawfiles/anant-radio/aradio-design-grid-1.png';
import image2 from '@/assets/rawfiles/anant-radio/aradio-design-grid-2.png';
import image3 from '@/assets/rawfiles/anant-radio/aradio-design-grid-3.png';
import image4 from '@/assets/rawfiles/anant-radio/aradio-design-grid-4.png';
import image5 from '@/assets/rawfiles/anant-radio/aradio-design-grid-5.png';
import DiscoveryStrategy from './_sections/DiscoveryStrategy.astro';
import DesignHighlight from './_sections/DesignHighlight.astro';
import StackInfo from './_sections/StackInfo.astro';
import QADeployment from './_sections/QADeployment.astro'
import StatsShowCase from './_sections/StatsShowCase.astro';
import WhatsNext from './_sections/WhatsNext.astro';
---


<main class="main relative flex flex-col overflow-hidden mb-40 min-h-[300svh]">
    <Intro />
     <Challenges/>
     <ImageGrid1 image1={{src:image1 , alt:"Design Grid 1"}} image2={{src:image2 , alt:"Design Grid 2"}} image3={{src:image3 , alt:"Design Grid 3"}} image4={{src:image4 , alt:"Design Grid 4"}} image5={{src:image5 , alt:"Design Grid 5"}}/>
     <DiscoveryStrategy/>
     <DesignHighlight/>
     <StackInfo/>
     <QADeployment/>
     <StatsShowCase/>
      <WhatsNext/>
</main>
<style>

  .main {
    gap: 180px;
  }
  .main :global(.end h3) {
    font-size: 24px;
  }

  .main :global(.end p) {
    max-width: 800px;
  }

  /* --- MEDIA QUERIES --- */

  /* Laptop: 1023px - 1260px */
  @media (min-width: 1023px) and (max-width: 1260px) {
    .main {
      gap: 160px;
    }
  }

  /* Tablet: 700px - 1023px */
  @media (min-width: 700px) and (max-width: 1023px) {
    .main {
      gap: 140px;
    }

    .main :global(.end p) {
      max-width: 600px;
    }
  }

  /* Mobile: < 700px */
  @media (max-width: 700px) {
    .main {
      gap: 120px;
    }

    .main :global(.end h3) {
      font-size: 20px;
    }

    .main :global(.end p) {
      max-width: 320px;
      font-size: 14px;
    }
  }
</style>